/*общее*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.title {
  color: var(--title-text-color);
}
.primary-text {
  color: var(--primary-text-color);
}

/*index.html*/

/*header*/
.header {
  background-color: #ffffff;
}
/*logo*/
.black-logo-web {
  color: #2196f3;
}
.black-logo-studio {
  color: #000000;
}
/*site nav*/
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/*address*/
.header-address .link {
  color: #757575;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

/*main*/
/*hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero-button {
  background-color: #2196f3;
  color: #ffffff;
}
/*преимущества*/

/*сфера деятельности*/

/*команда*/
.team {
  background-color: #f5f4fa;
}
.team-card {
  background-color: #ffffff;
}

/*footer*/
.footer {
  background-color: #2f303a;
}
/*logo*/
.white-logo-web {
  color: #2196f3;
}
.white-logo-studio {
  color: #ffffff;
}
/*address*/
.footer-address {
  color: #ffffff;
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio.html*/
.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}
.work-filter .button:hover,
.work-filter .button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
